
.panel {
    position: absolute;
    top: 90px;
    bottom: 0px;
    right: 0px;
    width: 21%;
    background-color: #1B1A55;
}

.kwargs {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.kwargs-box {
    background-color: #9290C3;
    margin: 13px;
    padding: 15px;
    border-radius: 10px;
}

.kwagrs-style {
    padding: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-container label {
    margin-right: 5px; /* Adjust the spacing between label and input */
}

.input-container input {
    padding: 0.375em 0.15em 0.375em 0.75em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.input-container .resize {
    width: calc(50% - 5px); /* Set the width of each input field */
    margin-right: 10px; /* Add some space between inputs */
    box-sizing: border-box; /* Include padding and border in the width */
    float: left; /* Float inputs to the left */
}

.input-container .sort-boolean-select {
    padding: 0.375em 0.15em 0.375em 0.75em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}


.custom-select {
    min-width: 350px;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    width: 100%;
    /* font-size: 1.15rem; */
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}


h3 {
    padding: 0;
    margin: 0;
}