.home {
  text-align: center;
  margin-top: 75px;
  margin-right: 2%;
  max-height: 90vh; /* Set the maximum height to the viewport height */
  overflow-y: auto; /* Allow vertical scrolling if necessary */
}

.home h1 {
  font-size: 40px;
  padding: 15px;
  width: 500px;
  font-weight: 500;
}

.home button:hover {
  opacity: 60%;
}

.column2 {
  float: left;
  width: 79%;
  padding: 25px;
  height: 8000px;
  background-color: #070F2B;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
